.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 2%;
  justify-content: space-between;
  justify-items: center;
}

/*.inputarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
*/
